:root {
  --mainColor: #F0F0F0;
  --secColor: #213555;
  --acntColor: #4F709C;
  --lastColor: #E5D283;
}
body {
  background-color: var(--mainColor);
  color: var(--secColor);
  font-size: 19px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a {
  text-decoration: none;
  color: var(--secColor);
}
p{
  padding: 1rem;
  font-size: 1.3rem;
}
h2 {
  text-align: center;
}
h3 {
  font-weight: bold;
}
section{
  margin-top: 2rem;
}
.container {
  width: 80%;
  margin: auto;
}
header {
  background-color: var(--secColor);
  color: var(--mainColor);
  padding: 0 7px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.content {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
#header-img {
  width: 50%;
}
header ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  align-self: flex-end;
}
.nav-item, .nav-link {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link {
  color: var(--mainColor);
}
.nav-link:hover {
  background-color: var(--acntColor);
  color: var(--mainColor);
}
main{
  margin-top: 7rem;
}
#presentation, #advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 70vh;
}
#advantages {
  background-image: url('https://images2.imgbox.com/38/8e/xvfXaMl9_o.jpg');
}
#presentation {
  background-image: url('https://images2.imgbox.com/97/07/FOgbRQFE_o.jpg');
}
#presentation, #advantages {
  min-width: 300px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
#presentation .presentation {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin: 2em;
}
#presentation .presentation,#presentation .p {
  padding: 3rem;
}
.video-container {
  position: relative;
  height: 475px;
  overflow: hidden;
}

.video-container iframe {
  margin: auto;
  width: 100%;
  height: 90%;
}

.cards{
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.card{
  border-radius: 0 1rem 0 1rem;
  border: 2px solid var(--secColor);
  background-color: var(--secColor);
  color: var(--mainColor);
  padding: 2rem;
}
#Booking{
  padding: 0.5rem;
  border-radius: 0 1rem 0 1rem;
  width: 100%;
  font-size: 1.3rem;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  width: 70%;
  margin: auto;
}
input{
  width: 100%;
  padding: 0.5rem;
  height: 2rem;
  background-color: var(--mainColor);
  color: var(--secColor);
  caret-color: var(--secColor);
  border-radius: 0 0.5rem 0 0.5rem;
  border: 2px solid var(--secColor);
  font-size: 1.5rem;
}
#submit{
  background-color: var(--secColor);
  color: var(--mainColor);
  height: 4rem;
  width: 100%;
  border: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
  main{
    margin-top: 5rem;
  }
}
